* {
    font-family: Helvetica;
    font-size: 1.375rem;
    color: seashell;
    background-color: rgba(0, 0, 0, 1.0);
    opacity: 0.9;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 69px;
    width: 100%;
    margin-bottom: 70px;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

figcaption {
    display: flex;
    justify-content: center;
}

.logo {
    padding: auto;
    margin: 10px;
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: underline;
    margin: 10px;
    height: 50px;
    color: seashell;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

#Locations {
    margin-right: 10px;
}

.photo {
    display: flex;
    position: relative;
    justify-content: center;
}

#Img1 {
 
    height: 27.8em;
    width: 82rem;
    margin-top: 3.05%;
    transform: translate(2.1rem, 10px);
    border: 1px solid black;
}

#textOverlay {
    position: absolute;
    display: flex;
    top: 41.4%;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1.0);
    opacity: 1.0;
    border: #000000 solid .0625rem;
    text-align: center;
    height: 11.8%;
    width: 98%;
    z-index: 20;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}
#textOverlay h2 {
    font-size: 2rem;
    padding-top: .2%;
}

#textOverlay h4 {
    margin-top: .8%;
    margin-bottom: .2%;
    padding-bottom: 0px;
    overflow: hidden;
    font-size: 1em;
    min-height: 1vh;
    max-height: 20vh;
}

.centerHeader {
    display: flex;
    font-size: 101%;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    margin-left: 40.2%;
    margin-bottom: 3%;
}

.centerHeader h1 {
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 2%;
}

.centerHeader h3 {
    font-size: 1.3rem;
    margin-left: -2%;
}

.imgFirstRow {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15%;
    height: 20%;
    margin-top: .5%;
    margin-right: 3.75%;
    
}

.imgFirstRow figure {
    width: 17%;
}

.imgFirstRow figcaption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: .8%;
    margin-bottom: 15%;
    margin-left: 12%;
    width: 94%;

}

#figCaption2 {
    margin-left: 16%;
}

#figCaption3 {
    margin-left: 22%;
}

#figCaption4 {
    margin-left: -12%;
    margin-bottom: 15%;
}

.imgFirstRow img {
    height: auto;
    width: 145%;
    margin-left: -6%;
}

.imgSecondRow {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}
.imgSecondRow figure {
    width: 30%;
}

.imgSecondRow img {
    width: 97%;
    margin-top: 8%;
}

.imgSecondRow figcaption {
    display: flex;
    justify-content: center;
    margin-top: .8%;
}

.footerBackgroundImg1 {
    display: flex;
    position: relative;
    justify-content: center;
}

#footerImg {
    margin: 6% 1.2% 5%;
    height: 38rem;
    width: 90%;
}

.textBoxOverlay1 {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 27.6%;
    width: 22%;
    top: 25%;
    left: 11%;
    /* opacity: 1; */
}

.textBoxOverlay1 h3 {
    background-color: #ffffff00;
    font-size: 2rem;
    margin-left: 24%;
    margin-right: 9%;
    margin-bottom: 2%;
    /* font-size: 2rem; */
}

.textBoxOverlay1 p {
    font-size: 1.2rem;
    margin-left: 28%;
    margin-right: 17%;
}


.textBoxOverlay2 {
    position: absolute;
    display: flex;
    left: 131%;
    width: 100.5%;
    height: 100%;
    opacity: 1;
    text-align: center;
    padding-right: 0%;
    flex-direction: column;
    align-items: center;
}

.textBoxOverlay2 h3 {
    padding-bottom: 5%;
    padding-top: 16%;
    padding-right: 39%;
    font-size: 2rem;
    width: 27%;
    text-align: center;
    background-color: #ffffff00;
}

#txtBox2H3 {
    font-size: 2rem;
    padding-top: 9%;
    padding-left: 26%;
    width: 80%;
    margin-top: 7%;
    margin-bottom: -2%;
}



.textBoxOverlay2 p {
    padding-right: 6%;
    /* margin-left: -10%; */
    width: 100%;
    margin-left: 26%;
    background-color: #ffffff00;
    font-size: 1.2rem;
}
